### Convert time stamp strings in tweet_attribute and user_attribute dataframes to pandas datetime format.
### Reverse geocode tweets and save results in two new columns 'State' and 'County'

In [1]:
import json
import pandas as pd
import numpy as np
import csv
import re
from time import sleep
import sys

In [9]:
def timestamp_to_datetime(df):
    '''Converts time stamp strings to pandas datetime. Process data in chunks of 5000 rows'''
    datetimes = []
    count = 0
    for k,g in df.groupby(np.arange(len(df))//5000):
        datetimes.append(pd.to_datetime(g, infer_datetime_format=True))
        sys.stdout.write('\r')
        sys.stdout.write("[%-50s] %d%%" % ('='*np.int(k*50.0/(len(df)//5000)), np.int(k*100.0/(len(df)//5000))))
        sys.stdout.flush()
                
        #if (k > 20):
        #    break
        
    sys.stdout.write('\r')
    sys.stdout.write("[%-50s] %d%%" % ('='*50, 100))
    
    return datetimes

In [2]:
# Load tweet attribute data
tweet_attributes_file = 'sandy_tweets_attributes.csv'
df = pd.read_csv(tweet_attributes_file)
print (len(df))
df.head()

4779087

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude
0,260244125050363904,295902181,0,Mon Oct 22 05:00:09 +0000 2012,-74.078101,40.735218
1,260244177412042752,85314436,0,Mon Oct 22 05:00:21 +0000 2012,-81.505790,33.460462
2,260244177105850368,239968255,0,Mon Oct 22 05:00:21 +0000 2012,-77.099999,39.344184
3,260244156729942016,703352862,0,Mon Oct 22 05:00:17 +0000 2012,-80.907470,39.618102
4,260244145694728192,581488152,0,Mon Oct 22 05:00:14 +0000 2012,-76.579826,39.816450

In [10]:
datetimes = timestamp_to_datetime(df['time_stamp'])
datetimes_1 = np.concatenate(datetimes).ravel()
df['time_stamp'] = datetimes_1
df.head()

[==================================================] 100%

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude
0,260244125050363904,295902181,0,2012-10-22 05:00:09,-74.078101,40.735218
1,260244177412042752,85314436,0,2012-10-22 05:00:21,-81.505790,33.460462
2,260244177105850368,239968255,0,2012-10-22 05:00:21,-77.099999,39.344184
3,260244156729942016,703352862,0,2012-10-22 05:00:17,-80.907470,39.618102
4,260244145694728192,581488152,0,2012-10-22 05:00:14,-76.579826,39.816450

In [11]:
# Keep only geo located tweets
print ('%d lines contain NaN: ' % (len(df) - len(df.dropna())))
df = df.dropna()

0 lines contain NaN:

In [12]:
# In the following, we use 'reverse-geocoder' package downloaded from Ref.: https://github.com/thampiman/reverse-geocoder

import io
import reverse_geocoder as rg

coordinates = df[['latitude', 'longitude']]
tuples = tuple([tuple(x) for x in coordinates.values])
         # Convert DataFrame columns to tuple of tuples
rgdata = rg.search(tuples)

rows_state, rows_county = [], []
for idx, rg in enumerate(rgdata):
    rows_state.append(rg['admin1'])
    rows_county.append(rg['admin2'])    
    
df['state'], df['county'] = rows_state, rows_county
df.head()

Loading formatted geocoded file...

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude,state,county
0,260244125050363904,295902181,0,2012-10-22 05:00:09,-74.078101,40.735218,New Jersey,Hudson County
1,260244177412042752,85314436,0,2012-10-22 05:00:21,-81.505790,33.460462,South Carolina,Barnwell County
2,260244177105850368,239968255,0,2012-10-22 05:00:21,-77.099999,39.344184,Maryland,Carroll County
3,260244156729942016,703352862,0,2012-10-22 05:00:17,-80.907470,39.618102,West Virginia,Tyler County
4,260244145694728192,581488152,0,2012-10-22 05:00:14,-76.579826,39.816450,Pennsylvania,York County

In [13]:
header = ['tweet_id', 'user_id', 'retweet_count', 'time_stamp', 'longitude', 'latitude', 'state', 'county']
df.to_csv('sandy_tweets_attributes_rev_geocoded_formatted_timestamps.csv', columns = header)

### Tests

In [14]:
print (np.mean(df[df['state'] == 'New York']['longitude']))
print (np.std(df[df['state'] == 'New York']['longitude']))

print (np.mean(df[df['state'] == 'New York']['latitude']))
print (np.std(df[df['state'] == 'New York']['latitude']))

print('')
print (np.mean(df[df['state'] == 'Washington, D.C.']['longitude']))
print (np.std(df[df['state'] == 'Washington, D.C.']['longitude']))

print (np.mean(df[df['state'] == 'Washington, D.C.']['latitude']))
print (np.std(df[df['state'] == 'Washington, D.C.']['latitude']))

print('')
print (np.mean(df[df['state'] == 'Ontario']['longitude']))
print (np.std(df[df['state'] == 'Ontario']['longitude']))

print (np.mean(df[df['state'] == 'Ontario']['latitude']))
print (np.std(df[df['state'] == 'Ontario']['latitude']))

-74.8904834714
1.83665553201
41.5780526566
1.0381112744

-77.0290102174
0.018302702135
38.9021835838
0.0178535390411

-75.9904787133
1.62343961431
44.3878491984
0.800220774933

In [15]:
#df[df['state'] == 'Ontario']
#df[df['state'] == 'Washington, D.C.']
df[df['state'] == 'New York']

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude,state,county
10,260244141156491264,98974320,0,2012-10-22 05:00:13,-79.339525,42.449143,New York,Chautauqua County
17,260244114883366912,456105010,0,2012-10-22 05:00:06,-73.738550,40.726990,New York,Nassau County
35,260244142540607488,46308177,0,2012-10-22 05:00:13,-74.106378,40.609279,New York,Richmond County
42,260244156029497345,107547858,0,2012-10-22 05:00:16,-74.146818,40.564605,New York,Richmond County
46,260244098504589312,790818829,0,2012-10-22 05:00:02,-73.842642,40.916031,New York,Westchester County
78,260244242352459776,350287015,1,2012-10-22 05:00:37,-76.078670,42.088634,New York,Broome County
84,260244187461603328,360395069,2,2012-10-22 05:00:24,-76.285808,42.499914,New York,Tompkins County
88,260244213164277760,621111983,0,2012-10-22 05:00:30,-76.995330,43.066734,New York,Wayne County
94,260244187956514817,338830308,0,2012-10-22 05:00:24,-75.266677,43.082288,New York,Oneida County
97,260244200010948608,198010784,0,2012-10-22 05:00:27,-73.906342,40.846667,New York,New York County
110,260244179706318848,46479002,0,2012-10-22 05:00:22,-73.973316,40.763587,New York,New York County
117,260244241521995776,455455769,0,2012-10-22 05:00:36,-73.810043,40.985045,New York,Westchester County
118,260244216310026241,393051019,1,2012-10-22 05:00:30,-74.002470,40.737895,New York,
125,260244199595732992,52472572,0,2012-10-22 05:00:26,-73.920240,40.756073,New York,Queens County
128,260244237495455744,149371754,0,2012-10-22 05:00:35,-73.964517,40.796350,New York,New York County
140,260244190393417728,839514252,0,2012-10-22 05:00:24,-73.900912,40.881166,New York,New York County
147,260244234156793856,16600688,1,2012-10-22 05:00:35,-73.611460,42.513865,New York,Rensselaer County
150,260244222446292992,180673746,1,2012-10-22 05:00:32,-73.407553,40.814314,New York,Suffolk County
151,260244331187802112,397258255,0,2012-10-22 05:00:58,-78.761798,42.843009,New York,Erie County
152,260244260362780672,59352290,0,2012-10-22 05:00:41,-78.761037,42.841698,New York,Erie County
165,260244293971759104,38316621,0,2012-10-22 05:00:49,-73.916991,41.693233,New York,Dutchess County
185,260244314947473409,75074952,0,2012-10-22 05:00:54,-73.907129,40.633655,New York,Kings County
188,260244278339592192,23776027,0,2012-10-22 05:00:45,-73.981359,40.730002,New York,
190,260244301643124736,48145763,0,2012-10-22 05:00:51,-73.966040,40.802842,New York,New York County
191,260244270152306688,65538155,1,2012-10-22 05:00:43,-74.008810,40.629389,New York,Kings County
210,260244299092983808,391795052,0,2012-10-22 05:00:50,-78.853972,42.928316,New York,Erie County
240,260244401870217217,508495457,0,2012-10-22 05:01:15,-73.504660,40.666590,New York,Nassau County
246,260244377434218498,316122442,0,2012-10-22 05:01:09,-73.676856,40.998807,New York,Westchester County
258,260244387567661057,513379131,0,2012-10-22 05:01:11,-78.882784,42.934211,New York,Erie County
260,260244411986886656,99545086,0,2012-10-22 05:01:17,-78.797078,42.922591,New York,Erie County
...,...,...,...,...,...,...,...,...
4778907,264230122528337920,380630018,0,2012-11-02 04:59:05,-77.781292,43.129036,New York,Monroe County
4778915,264230170704084992,219540818,0,2012-11-02 04:59:16,-72.837765,40.797474,New York,Suffolk County
4778916,264230101552615424,468775925,0,2012-11-02 04:59:00,-78.714806,42.915251,New York,Erie County
4778923,264230103423254528,305188901,0,2012-11-02 04:59:00,-73.911554,40.759001,New York,Queens County
4778933,264230167793262592,469714733,0,2012-11-02 04:59:16,-76.180640,42.597859,New York,Cortland County
4778940,264230248118362112,347469796,0,2012-11-02 04:59:34,-76.131359,43.040196,New York,Onondaga County
4778947,264230242393137152,405621941,0,2012-11-02 04:59:33,-73.495526,40.724021,New York,Nassau County
4778949,264230227746648064,863991884,0,2012-11-02 04:59:30,-73.780247,42.664121,New York,Albany County
4778955,264230205529411585,22787354,0,2012-11-02 04:59:24,-73.956399,40.714118,New York,Queens County
4778960,264230201590964224,564669355,0,2012-11-02 04:59:23,-73.871729,41.641488,New York,Dutchess County
4778965,264230244175720448,86574092,0,2012-11-02 04:59:34,-74.147751,40.610528,New York,Richmond County
4778977,264230199984529410,235827755,0,2012-11-02 04:59:23,-73.427396,40.833808,New York,Suffolk County
4778978,264230198675922944,129694386,0,2012-11-02 04:59:23,-73.916664,40.684666,New York,Kings County
4778983,264230191725961217,213839050,0,2012-11-02 04:59:21,-73.700214,40.791504,New York,Nassau County
4778988,264230180573290497,107290650,0,2012-11-02 04:59:18,-76.116853,43.022056,New York,Onondaga County
4778992,264230183563841538,59302139,0,2012-11-02 04:59:19,-73.986151,40.757579,New York,New York County
4778994,264230243584319488,268467262,0,2012-11-02 04:59:33,-73.020531,40.762421,New York,Suffolk County
4779010,264230277059076096,401031273,0,2012-11-02 04:59:41,-78.826659,42.858299,New York,Erie County
4779023,264230317915795456,349436819,0,2012-11-02 04:59:51,-77.137053,42.138300,New York,Steuben County
4779025,264230282083831808,370527107,0,2012-11-02 04:59:43,-73.448180,40.732039,New York,Nassau County
4779032,264230295040036864,301824731,1,2012-11-02 04:59:46,-73.202216,40.778339,New York,Suffolk County
4779033,264230308533137408,553827242,0,2012-11-02 04:59:49,-73.863277,41.167034,New York,Westchester County
4779048,264230299196596224,53223557,0,2012-11-02 04:59:47,-73.783113,42.659321,New York,Albany County
4779053,264230279722463233,324084823,0,2012-11-02 04:59:42,-73.847387,43.072187,New York,Saratoga County
4779065,264230312186372096,451732831,0,2012-11-02 04:59:50,-73.266116,40.783019,New York,Suffolk County
4779067,264230311808880640,863991884,0,2012-11-02 04:59:50,-73.780247,42.664121,New York,Albany County
4779073,264230274089500673,69928234,0,2012-11-02 04:59:41,-73.960524,40.781371,New York,New York County
4779079,264230270482411520,177080895,0,2012-11-02 04:59:40,-73.707468,40.658697,New York,Nassau County
4779081,264230293014192128,53188062,1,2012-11-02 04:59:45,-73.957895,40.765600,New York,New York County
4779085,264230276828385280,120267899,0,2012-11-02 04:59:41,-73.939593,40.802072,New York,New York County

### User timestamps

In [16]:
# Load user attribute data
user_attributes_file = 'sandy_tweets_user_attributes.csv'
df_user = pd.read_csv(user_attributes_file)
print (len(df_user))
df_user.head()

4779087

,user_id,followers_count,friends_count,statuses_count,screen_name,name,created_at
0,295902181,263,71,22153,_CornelliaM,HILARY_BANKZ,Mon May 09 21:17:32 +0000 2011
1,85314436,3377,3462,28147,synclaire_xoxo,Tara Synclaire,Mon Oct 26 13:26:43 +0000 2009
2,239968255,753,762,16182,OnlyAprilMoreno,ace ♠️,Tue Jan 18 21:21:42 +0000 2011
3,703352862,114,146,154,KameronMcclain,Kammm (:,Wed Jul 18 16:19:19 +0000 2012
4,581488152,393,550,13538,lady_lauer15,Natasha Lauer,Wed May 16 01:21:49 +0000 2012

In [17]:
datetimes = timestamp_to_datetime(df_user['created_at'])
datetimes_1 = np.concatenate(datetimes).ravel()
df_user['created_at'] = datetimes_1
df_user.head()

[==================================================] 100%

,user_id,followers_count,friends_count,statuses_count,screen_name,name,created_at
0,295902181,263,71,22153,_CornelliaM,HILARY_BANKZ,2011-05-09 21:17:32
1,85314436,3377,3462,28147,synclaire_xoxo,Tara Synclaire,2009-10-26 13:26:43
2,239968255,753,762,16182,OnlyAprilMoreno,ace ♠️,2011-01-18 21:21:42
3,703352862,114,146,154,KameronMcclain,Kammm (:,2012-07-18 16:19:19
4,581488152,393,550,13538,lady_lauer15,Natasha Lauer,2012-05-16 01:21:49

In [22]:
header = ['user_id', 'followers_count', 'friends_count', 'statuses_count',
          'screen_name', 'name', 'created_at']
df_user.to_csv('sandy_tweets_user_attributes_formatted_timestamps.csv', columns=header)

In [21]:
df_user.columns

Index([u'user_id', u'followers_count', u'friends_count', u'statuses_count',
       u'screen_name', u'name', u'created_at'],
      dtype='object')