In [1]:
import pandas as pd
import numpy as np
import folium
from folium import plugins
import os

## Load data

In [2]:
def load_tweets(tweets_attributes_file, tweets_text_file):
    df = pd.read_csv(tweets_attributes_file, index_col=0)
    text = []
    with open(tweets_text_file, 'r') as f:
        for line in f:
            text.append(line)
    df['text'] = text
    return df

In [3]:
tweets_attributes_file = 'sandy_tweets_attributes_rev_geocoded_formatted_timestamps.csv'
tweets_text_file = 'sandy_tweets_text_tokenized.txt'

df = load_tweets(tweets_attributes_file, tweets_text_file)
#df = pd.read_csv(open('sandy_tweets_1.csv'), encoding='utf-8', engine='c')
#df.head()

In [4]:
df['county'] = df['county'].replace(np.nan,'', regex=True)
df['county_tweet_count'] = df.groupby(['state', 'county'])['tweet_id'].transform('count')
df.head(2)

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude,state,county,text,county_tweet_count
0,260244125050363904,295902181,0,2012-10-22 05:00:09,-74.078101,40.735218,New Jersey,Hudson County,all i wish is to be better than yesterday and ...,52264
1,260244177412042752,85314436,0,2012-10-22 05:00:21,-81.505790,33.460462,South Carolina,Barnwell County,@imSunnyAF yesssss lawd\n,1375

## Sentiment analysis

In [5]:
#from textblob import TextBlob
#
#def calc_sentiment(text):
#    # pass tweet into TextBlob
#    tweet = TextBlob(text.decode("utf-8", "replace"))
#    
#    # output sentiment polarity
#    if (tweet.sentiment.polarity<0):
#        return -1 # Negative
#    elif (tweet.sentiment.polarity==0):
#        return 0 # Neutral
#    else:
#        return 1 # Positive

In [6]:
#tweet_sentiment = df['text'].apply(calc_sentiment).values
#df['sentiment'] = tweet_sentiment

In [8]:
#df = df.drop('text', 1)
#df.head()
#df.to_csv('sandy_tweets_attributes_rev_geocoded_formatted_timestamps.csv')

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude,state,county,county_tweet_count,sentiment
0,260244125050363904,295902181,0,2012-10-22 05:00:09,-74.078101,40.735218,New Jersey,Hudson County,52264,1
1,260244177412042752,85314436,0,2012-10-22 05:00:21,-81.505790,33.460462,South Carolina,Barnwell County,1375,0
2,260244177105850368,239968255,0,2012-10-22 05:00:21,-77.099999,39.344184,Maryland,Carroll County,7707,1
3,260244156729942016,703352862,0,2012-10-22 05:00:17,-80.907470,39.618102,West Virginia,Tyler County,175,1
4,260244145694728192,581488152,0,2012-10-22 05:00:14,-76.579826,39.816450,Pennsylvania,York County,20191,0

In [9]:
#df.to_csv('sandy_tweets_attributes_rev_geocoded_formatted_timestamps.csv')

## Normalize tweets counts by total number tweets from that each county

In [ ]:
weights = 1.0/df_filt['county_tweet_count'].values
weights = weights/max(weights)
weights

## Geospatial map

In [ ]:
lats = df_filt['latitude'].values
lons = df_filt['longitude'].values
#np.mean(lats), np.mean(lons)

m = folium.Map(location=[np.mean(lats), np.mean(lons)], zoom_start=5)
m.add_children(plugins.HeatMap(zip(lats, lons, 100000*weights), radius = 6))
m.save(os.path.join('results', 'sandy_tweet_map_folium.html'))
m