In [1]:
import pandas as pd
import numpy as np

In [2]:
fields = ['user_id', 'followers_count', 'friends_count']
df1 = pd.read_csv('sandy_tweets_user_attributes_formatted_timestamps.csv', usecols=fields)
df1.head()

     user_id  followers_count  friends_count
0  295902181              263             71
1   85314436             3377           3462
2  239968255              753            762
3  703352862              114            146
4  581488152              393            550

In [3]:
fields = ['user_id', 'time_stamp']
df2 = pd.read_csv('sandy_tweets_attributes_rev_geocoded_formatted_timestamps.csv', usecols=fields)
df2.head()

     user_id           time_stamp
0  295902181  2012-10-22 05:00:09
1   85314436  2012-10-22 05:00:21
2  239968255  2012-10-22 05:00:21
3  703352862  2012-10-22 05:00:17
4  581488152  2012-10-22 05:00:14

In [ ]:
df = pd.merge(df1, df2, on='user_id')
df.head()

In [ ]:
# Group by user id