In [6]:
import pandas as pd
import numpy as np

In [2]:
def load_tweets(tweets_attributes_file, tweets_text_file):
    df = pd.read_csv(tweets_attributes_file, index_col=0)
    text = []
    with open(tweets_text_file, 'r') as f:
        for line in f:
            text.append(line)
    df['text'] = text
    return df

In [3]:
# Load tweet data
tweets_attributes_file = 'sandy_tweets_attributes_rev_geocoded_formatted_timestamps.csv'
tweets_text_file = 'sandy_tweets_text_tokenized.txt'

df = load_tweets(tweets_attributes_file, tweets_text_file)
#df = pd.read_csv(open('sandy_tweets_1.csv'), encoding='utf-8', engine='c')
df.head()

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude,state,county,text
0,260244125050363904,295902181,0,2012-10-22 05:00:09,-74.078101,40.735218,New Jersey,Hudson County,all i wish is to be better than yesterday and ...
1,260244177412042752,85314436,0,2012-10-22 05:00:21,-81.505790,33.460462,South Carolina,Barnwell County,@imSunnyAF yesssss lawd\n
2,260244177105850368,239968255,0,2012-10-22 05:00:21,-77.099999,39.344184,Maryland,Carroll County,"""Waiting for something better , a better you ...."
3,260244156729942016,703352862,0,2012-10-22 05:00:17,-80.907470,39.618102,West Virginia,Tyler County,Cool right ? #plainoldshirt http://t.co/B55dMS...
4,260244145694728192,581488152,0,2012-10-22 05:00:14,-76.579826,39.816450,Pennsylvania,York County,#10PeopleYouTrulyLove My son\n

In [4]:
len(df)

4779087

In [7]:
# Replace missing value in 'county' column by empty string. e.g. Washington D.C.
df['county'] = df['county'].replace(np.nan,'', regex=True)

In [8]:
# Groupby state-conunty pairs and save counts in a new column
# See http://stackoverflow.com/questions/17432944/python-pandas-error-when-doing-groupby-counts

#df['county_tweet_count'] = df.groupby(['state', 'county']).transform('count')
df['county_tweet_count'] = df.groupby(['state', 'county'])['tweet_id'].transform('count')

# Test print
print (len(df[df['state']+df['county'] == 'New JerseyHudson County']))
df.head(6)

52264

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude,state,county,text,county_tweet_count
0,260244125050363904,295902181,0,2012-10-22 05:00:09,-74.078101,40.735218,New Jersey,Hudson County,all i wish is to be better than yesterday and ...,52264
1,260244177412042752,85314436,0,2012-10-22 05:00:21,-81.505790,33.460462,South Carolina,Barnwell County,@imSunnyAF yesssss lawd\n,1375
2,260244177105850368,239968255,0,2012-10-22 05:00:21,-77.099999,39.344184,Maryland,Carroll County,"""Waiting for something better , a better you ....",7707
3,260244156729942016,703352862,0,2012-10-22 05:00:17,-80.907470,39.618102,West Virginia,Tyler County,Cool right ? #plainoldshirt http://t.co/B55dMS...,175
4,260244145694728192,581488152,0,2012-10-22 05:00:14,-76.579826,39.816450,Pennsylvania,York County,#10PeopleYouTrulyLove My son\n,20191
5,260244141139701760,80608282,1,2012-10-22 05:00:13,-84.472785,39.147755,Ohio,Hamilton County,Mortal kombat ! ! ! ! ! ! @JoeMoDavis #happybi...,51632

In [10]:
# Filter out Tweets with power outage related keywords'
keywords = ['power', 'outage', 'light', 'electricity', 'blackout']
keywords = keywords + ['#'+kw for kw in keywords]

pattern = ' ' + ' | '.join(keywords) + ' '
pattern
df_filt = df[df['text'].str.contains(pattern)]

In [12]:
print ('Total number of potential power outage related tweets: %d' % len(df_filt))

Total number of potential power outage related tweets: 38543

In [13]:
df_filt.head()

,tweet_id,user_id,retweet_count,time_stamp,longitude,latitude,state,county,text,county_tweet_count
736,260244843123576832,524749508,0,2012-10-22 05:03:00,-74.921427,40.159876,Pennsylvania,Bucks County,When people at this school get some lil piece ...,23185
1057,260245338907111424,466097841,0,2012-10-22 05:04:58,-73.507984,40.666003,New York,Nassau County,I keep an L light upp like an elevator\n,45917
1304,260245604121329664,32974914,0,2012-10-22 05:06:01,-82.044413,33.402851,Georgia,Richmond County,@Lisa_Bhadd001 hold home & amp ; power .\n,13727
2695,260260436497272833,253410333,0,2012-10-22 06:04:58,-76.350705,37.027736,Virginia,City of Hampton,Because they're fags RT @ZombieRedskin @viteez...,9904
3814,260289758947852288,131390980,0,2012-10-22 08:01:29,-77.169024,39.155509,Maryland,Montgomery County,"""The power blew . After playing mark of the ni...",52999

In [23]:
import random 
idx = random.sample(xrange(len(df_filt)), 2000)
#idx

In [31]:
df_filt[['tweet_id', 'user_id', 'retweet_count', 'time_stamp', 'longitude', 'latitude', 'state', 'county', 'county_tweet_count']].iloc[idx].to_csv('power_outage_keyword_tweets_0.csv')

In [32]:
#df_filt[['text']].iloc[idx].to_csv('power_outage_keyword_tweets_1.csv')